.article_tag,.header_tag,.header2_tag, .aside_tag, .footer_tag, .main_tag, .nav_tag, .section_tag{
	display:block;
}


html, body, h1,h2,h3,li,a,ul,p,.nav_tag,.main_tag,.aside_tag,.footer_tag,.article_tag,.section_tag,.header2_tag{
	padding:0;
	margin:0;
}

.header_tag{
      background-color:#11233b;
       color:white;
       padding:10px 20px;
       height:80px;
       
    }
   

body{
	width:960px;
	margin-left: auto; 
	margin-right: auto;
	background-color:#f0f0f0;
	font-family:Helvetica, Arial, sans-serif;
	font-size:15px;
}

.nav_tag{
	background-color:#20416c;
	padding:5px;
	margin-top:1px;
}

li{
	display:inline;
	margin-left:15px;
	margin-right:15px;
	font-size:20px;
	font-variant:small-caps;
	font-weight:bold;
	padding-left:10px;
	padding-right:10px;

	
  }

li.highlighted a{
	background-color:#ffaa00;
	color:black;
	text-decoration: none;
	padding-left:10px;
	padding-right:10px;

}
 
li a{
	color:white;
	text-decoration: none;
	padding-left:10px;
	padding-right:10px;
}

li a:hover{
	background-color:#ffaa00;
	color:black;
	text-decoration: none;
	padding-left:10px;
	padding-right:10px;
}


.main_tag{
	width:640px;
	float:left;
	margin-bottom:10px;
}

.section_tag{
	background-color:#bbbbbb;
	margin-top:10px;
	padding:5px;
}

.article_tag{
	background-color:white;
	margin-top:5px;
	padding:10px 15px;
}

.header2_tag{
	color:black;
}

.aside_tag{
	background-color:#bbbbbb;
	width:270px;
	float:right;
	padding:10px 15px;
	margin-top:10px;
}


.aside_tag2{
	background-color:#bbbbbb;
	width:270px;
	float:right;
	padding:10px 15px;
	margin-top:10px;
}

.newstyle{
	font: italic 12pt arial;
	text-decoration: underline;
	background-color: #ff5050 !important;
	padding:10px 15px;
	margin-top:10px;
    width:270px;
    float:right;
}

.defaultstyle{
	font:normal 12pt arial;
	text-decoration: none;
	background-color: #bbbbbb !important;
	padding:10px 15px;
	margin-top:10px;
    width:270px;
	float:right;
}


.footer_tag{
	clear:both;
	background-color:#20416c;
	color:white;
	padding: 5px 20px;
	}

.aside_tag3{
	background-color:#bbbbbb;
	width:270px;
	float:right;
	padding:10px 15px;
	margin-top:10px;
}

.foreverstyle{
	font: italic 14pt arial;
	text-decoration: underline;
	background-color: lightgreen !important;
	padding:10px 15px;
	margin-top:10px;
    width:270px;
    float:right;
}

.restyle{
	font: italic 14pt arial;
	text-decoration: none;
	background-color: #bbbbbb !important;
	padding:10px 15px;
	margin-top:10px;
    width:270px;
    float:right;
}

.aside_tag4{
	background-color:#bbbbbb;
	width:270px;
	float:right;
	padding:10px 15px;
	margin-top:10px;
}

